<!DOCTYPE html>
<html data-ng-app>
<head>
	<title>Angular in 60-ish minutes, firstpage</title>
</head>
	<body>
		<div class="container" data-ng-controller="SimpleController">
			filter: <input type="text" data-ng-model="name" /> 

			<ul>
				<li data-ng-repeat="customer in customers | filter:name | orderBy:'city'">{{ customer.name | uppercase }} . {{ customer.city | lowercase }} . {{ customer.sales | currency}} </li>
			</ul>
		</div>

		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js'></script>

		<script>
			function SimpleController($scope) {
				$scope.customers = 
				    [ 
				    	{name:'John Smith', city:'Dallas', sales:'4000'}, 
				    	{name:'John Doe', city:'Austin', sales:'10000'}, 
				    	{name:'Jane Doe', city:'Houston', sales:'100'} 
				    ]
			}
		</script>
	</body>
</html>